body {
  font-family: sans-serif;
  background: #fdfdfd;
  color: #333;
  padding: 1rem;
}
h1 {
  text-align: center;
}
#reset {
  margin: 1rem auto;
  display: block;
  padding: 0.5rem 1rem;
  background: #f55;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.year {
  margin: 2rem 0;
}
.subjects {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.subject {
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
}
.locked {
  background: #eee;
  color: #aaa;
  border-style: dashed;
  cursor: not-allowed;
}
.completed {
  text-decoration: line-through;
  background: #c5f7cb;
}
.optativa {
  background: #d0eaff;
}
.electiva {
  background: #edd0ff;
}
.practicanato {
  background: #fff4a3;
}
